extends index
block content
  table.table.table-striped
    tr
      td ★
      td user
      td repo
    each star in stars
      tr
        td
          = star.stargazers_count
        td
          a(href="http://starving.co/#{star.owner.login}") #{star.owner.login}
        td
          a(href=star.html_url) #{star.name}